<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HS-Metaverse</title>
  <link rel="stylesheet" type="text/css" href="./output.css">
  <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
  
</head>

<body class=" bg-slate-400">
  <!--side_menu-->
  <div id="side-menu" class="fixed top-0 right-0 w-[320px] h-screen bg-gray-700 p-5 flex flex-col space-y-5 text-white duration-300">
    <a href="javascript:void(0)" class="text-right text-4xl" onclick="closeMenu()">&times;</a>
    <div class="px-4 sm:px-6">
      <h2 class="text-lg font-medium text-gray-100 mb-6" id="slide-over-title ">Hangle Square Metaverse</h2>
    </div>
    <div class="mt-8 h-4/5 overflow-y-scroll shadow-xl">
      <div class="flow-root">
        <ul id="user-list" role="list" class="-my-6 divide-y divide-gray-200">
          <!--hard coding profile-->
          <!-- <li class="flex py-6">
            <div class="h-12 w-12 flex-shrink-0 overflow-hidden rounded-full border border-gray-200">
              <img
                src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="player1" class="h-full w-full object-cover object-center">
            </div>
            <div class="ml-4 flex flex-1 flex-col">
              <div>
                <div class="flex justify-between text-base font-medium text-gray-100">
                  <h3>
                    <a href="#">User1</a>
                  </h3>
                </div>
                <div class="flex flex-1 items-end justify-between text-sm">
                  <p class="mt-1 text-sm text-gray-500">text..</p>
                  <div class="flex mr-4 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="left-11 w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
    <!--chat_menu-->
    <!-- <form id="chatTest" autocomplete="off"> -->
    <div id="chat-menu" class="fixed top-0 right-[-320px] w-[320px] h-screen bg-gray-700 p-5 flex flex-col  text-white duration-300">
      <a href="javascript:void(0)" class="text-right text-4xl" onclick="closeChat()">&times;</a>
      <div class="px-4 sm:px-6">
        <h2 class="text-lg font-medium text-gray-100 mb-6" id="slide-over-title ">광장</h2>
      </div> 
      <div class="mt-8 h-4/5 shadow-xl">
        <select id='n-user-list'>
        </select>
        <div id ='chat'class="flow-root h-2/4 w-full overflow-y-scroll bg-white border-slate-300 rounded-md py-2 px-2 pt-2 text-black">
        </div>
        <div class="pt-6">
          <input id="msg" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 text-black rounded-md py-2 pl-2 pr-3 shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 focus:ring-1 sm:text-sm" placeholder="메시지를 입력하세요" type="text" name="chatMsg"/>
          <button id="submitChat">전체채팅</button>
          <button id="whisperChat">귓속말</button>
        </div>
      </div>
    </div>
  <!-- </form> -->
  
  <!--phaser3 metaverse canvas rendering-->
  <!--bottom componet-->
  <div class="fixed w-full bottom-0 bg-gray-800 ">
    <div class="mx-auto max-w-9xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="./resource/images/logo.png" alt="hs_logo">
            <img class="hidden h-8 w-auto lg:block" src="./resource/images/logo.png" alt="hs_logo">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                aria-current="page">마이크</a>
              <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">영상</a>
              <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">이모지</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div>
            <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              onclick="showChat()">채팅</button>
          </div>
          <div>
            <button class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              onclick="showMenu()">서랍</button>
          </div>
          <!-- Profile dropdown -->
          <div class="relative ml-5">
            <div>
              <button type="button"
                class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <div class="h-10 w-10 flex-shrink-0 overflow-hidden rounded-full border">
                  <img class="h-full w-full object-cover object-center" src="./resource/images/user_icon.png" alt="">
                </div>
                <a href="#"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium">UserName</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--판서기능-->
    <div id="board-menu" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true"> 
      <div class="fixed inset-0  bg-gray-500 bg-opacity-75 transition-opacity"></div>
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all ">
          <div class="bg-white px-4 pt-1 pb-2 ">
            <a href="javascript:void(0)" class="text-right text-3xl" onclick="closeModal()">&times;</a>
            <div class="flex justify-center ">
              <div class="mt-3 text-center ">
                <h3 class="font-bold tracking-tight mb-2 sm:text-2xl text-indigo-600 leading-6"
                  id="modal-title">Drawing</h3>
                <div>
                  <canvas id="drawing-board" class=" border-4 border-indigo-600 "></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 flex justify-center">
            
            <input id="line-width" class="" type="range" min="1" max="10" value="5">
            <input id="select-color" class="bg-white hover:bg-gray-200 text-black text-center py-2 px-4 rounded-full h-14 w-14 inline-flex items-center" type="color">

            <a href="javascript:void(0)" id="write" class="bg-white hover:bg-gray-200 text-black text-center py-2 px-4 rounded-full h-14 w-14 inline-flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>              
            </a>
            
            <a href="javascript:void(0)" id="destroy" class="bg-white hover:bg-gray-200 text-black text-center py-2 px-4 rounded-full h-14 w-14 inline-flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </a>

            <a href="javascript:void(0)" id="erase" class="bg-white hover:bg-gray-200 text-black text-center py-2 px-4 rounded-full h-14 w-14 inline-flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 7.5A2.25 2.25 0 017.5 5.25h9a2.25 2.25 0 012.25 2.25v9a2.25 2.25 0 01-2.25 2.25h-9a2.25 2.25 0 01-2.25-2.25v-9z" />
              </svg>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
<!--판서 끝-->
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <button href=""
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          aria-current="page">마이크</button>
        <button href=""
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">영상</button>
        <button href=""
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">이모지</button>
      </div>
    </div>
  </div>
  <!--phaser3 module-->
  <!-- <script defer src="js/Socket/connection.js"></script> -->
  <script defer type="module" src="js/Setup/config.js"></script>
  <script defer src="js/Ui/slideBox.js"></script>
</body>

</html>